<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>修改景点页面</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        form {
            width: 270px;
        }

        input {
            width: 64%;
            background: #eee;
        }

        input:focus {
            background: #fff;
        }

        form {
            padding: 0 12px 12px;
        }

        label {
            display: block;
            padding-bottom: 12px;
        }

        .label-text {
            width: 36%;
            float: left;
        }

        #img-show {
            width: 135px;
            height: 135px;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }
    </style>
    <script>
        function imgfileChange() {
            var img_show = document.getElementById("img-show");
            var imgfile = document.getElementById("imgfile");
            var freader = new FileReader();
            freader.readAsDataURL(imgfile.files[0]);
            freader.onload = function (e) {
                img_show.src = e.target.result;
            };
        }
    </script>
</head>
<body>
<div id="app">
    <div id="wrap">
        <div id="header">
            <div style="float: right;padding-top: 24px">{{time}}&emsp;</div>
            <h1>广东省多彩乡村宣传系统</h1>
        </div>
        <div id="header-bar"></div>
        <div id="content" style="height: 480px">
            <img src="../img/index.jpg" style="float: right;height: 320px">
            <h2>修改景点</h2>
            <form action="viewspotlist.html" method="post">
                <label>
                    <div class="label-text">帮扶镇名称：</div>
                    <input type="text" v-model="place.name">
                </label>
                <label>
                    <div class="label-text">印象图片：</div>
                    <div style="text-align: center;padding-left: 36%">
                        <img :src="src" alt="" id="img-show">
                        <input type="file" id="imgfile" ref="myFile" style="display: none" onchange="imgfileChange()">
                    </div>
                </label>
                <label>
                    <div class="label-text">帮扶镇描述：</div>
                    <input type="text" v-model="place.content">
                </label>
                <label>
                    <div class="label-text">所属市区：</div>
                    <select v-model="place.cityid">
                        <option v-for="(cit,index) in cities" :value="cit.id" v-text="cit.name"></option>
                    </select>
                </label>
                <button type="button" @click="updatePlace">提 交</button>&emsp;
                <a :href="'viewspotlist.html?id=' + place.cityid">返回</a>
            </form>
        </div>
        <div id="footer">

        </div>
    </div>
</div>
</body>
</html>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            id: "",
            place: {},
            cities: [],
            src: "",
            time: ""
        },
        methods: {
            updatePlace() {
                console.log(this.place);
                let myFile = this.$refs.myFile;
                let files = myFile.files;
                let file = files[0];
                let formData = new FormData();
                formData.append("pic", file);
                formData.append("id", this.place.id);
                formData.append("name", this.place.name);
                formData.append("content", this.place.content);
                formData.append("cityid", this.place.cityid);
                // axios
                axios({
                    method: 'post',
                    url: 'http://localhost:8989/place/update',
                    data: formData,
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((res) => {
                    console.log(res.data);
                    if (res.data.state) {
                        alert(res.data.msg + ",点击确定回到帮扶镇列表");
                        location.href = "./viewspotlist.html?id=" + this.place.cityid;
                    } else {
                        alert(res.data.msg + ",点击确定回到帮扶镇列表");
                    }
                });
            },
            findOnePlace() {
                _this = this;
                axios.get("http://localhost:8989/place/findOne?id=" + this.id).then((res) => {
                    _this.place = res.data;
                    _this.src = "data:image/png;base64," + _this.place.picpath;
                    // console.log(_this.place);
                });
            },
            findAllCities() {
                _this = this;
                axios.get("http://localhost:8989/city/findByPage?rows=35").then((res) => {
                    // console.log(res.data.cities);
                    _this.cities = res.data.cities;
                });
            }
        },
        created() {
            <!--        可以通过 location.href 获取 url 再进行截取-->
            this.id = location.href.substr(location.href.indexOf("=") + 1);
            this.findOnePlace();
            this.findAllCities();
            // console.log(this.place);

            let now = new Date();
            this.time = `${now.getFullYear()}-${now.getMonth() + 1}-${now.getDate()}`;
        }
    });
</script>